/*<meta />*/

/*<meta sourceDocument="C:\Users\osalmeronlagunas\Desktop\testing.docx" />*/

p
{
	margin-bottom: 0pt;
	font-size: 12pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 0pt;
	font-size: 12pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 0pt;
	font-size: 12pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 0pt;
	font-size: 12pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 0pt;
	font-size: 12pt;
	vertical-align: top;
}

span.Hyperlink
{
	color: #0563C1;
	text-decoration: underline;
}

p.p_1
{
	font-weight: bold;
	font-size: 11pt;
}

